$primary-color1:#feac5e;
$primary-color2:#c779d0;
$primary-color3:#4bc0c8;

body{
  background: linear-gradient(30deg, $primary-color1, $primary-color2, $primary-color3);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: transparent;
  min-height: 100%;
  color: white;
  text-align: center;
  padding: 20px;
}

h1,h2,h3,h4,h5{
  color: white;
  font-family: 'Josefin Sans', sans-serif;
}

div.container{
  background: rgba(255, 255, 255, 0.4);
  height: 80vh;
  float: none;
  margin-left: auto;
  margin-right: auto;
  top: 80px;
  padding: 20px;
  position: relative;
  header{
    position: relative;
    height: 100px;
    width: 100%;
    display: table;
    background: transparentize($primary-color1, 0.5);
    h2{
      display: table-cell;
      vertical-align: middle;
      margin: auto;
      width: 50%;
      font-weight: bold;
    }
  }
  div.box{
    position: absolute;
    border: 1px solid white;
    top:140px;
    bottom: 20px;
    left: 20px;
    right: 20px;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
  }
}
main{
    padding: 10px;
    width: 500px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: space-between;
    flex-wrap: wrap;
}

div.item{
  cursor: pointer;
  position: relative;
  border-radius: 10px;
  width: 50px;
  height: 50px;
  &::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: 0;
    left: 0;
    border-radius: 10px;
    box-shadow: 0px 5px 10px -8px rgba(0,0,0,0.52);
  }

  &::after{
    background: linear-gradient(to bottom, rgba(255,255,255,0.5) 10%,rgba(255,255,255,0) 90%);
    box-shadow: inset 0px 16px 10px -19px rgba(255,255,255,1);
    content: "";
    position: absolute;
    border-radius: 10px;
    position: absolute;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
  }

  &.select{
    background: transparentize($primary-color3, 0.8)
  }

  >div.gem{
    position: absolute;
    width: 70%;
    height: 70%;
    background: red;
    margin: auto;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}
